@{
    ViewData["Title"] = "Home Page";
}
<h2 class="Error">@ViewBag.Error</h2>
<br>
<br>
<a href='@Url.Action("SelectIndumentaria")'><input type="button" value="Seleccionar indumentaria"></input></a>
<br>
<br>
<h2>
    @foreach (string Equipo in Equipos.EquiposIndumentaria.Keys)
{
    string Camiseta = Equipos.EquiposIndumentaria[Equipo].Camiseta;
    string Pantalon = Equipos.EquiposIndumentaria[Equipo].Pantalon;
    <table>
    <tr>
    <td>@Equipo
    <img src="/Imagenes/Camiseta">
    <img src="/Imagenes/Pantalon">
    @Equipos.EquiposIndumentaria[Equipo].Medias</td>
    </tr>
    </table>
    <br>
    
}
</h2>

