@{
    ViewData["Title"] = "Home Page";
}
<a href='@Url.Action("SelectIndumentaria")'><input type="button" value="Seleccionar indumentaria"></input></a>
<br>
@if(ViewBag.EquiposIndumentaria.Count !=0)
{
    @foreach (string Equipo in Equipos.EquiposIndumentaria.Keys)
{
    @Equipo;
    @Equipos.EquiposIndumentaria[Equipo].Camiseta;
    @Equipos.EquiposIndumentaria[Equipo].Pantalon;
    @Equipos.EquiposIndumentaria[Equipo].Medias;
    
}
}
