@{
    ViewData["Title"] = "Home Page";
}
<h2 class="Error">@ViewBag.Error</h2>
<br>
<br>
<a href='@Url.Action("SelectIndumentaria")'><input type="button" value="Seleccionar indumentaria"></input></a>
<br>
<h2>
    @foreach (string Equipo in Equipos.EquiposIndumentaria.Keys)
{
    
    <table>
    <tr>
    <td>@Equipo
    <img class="Camiseta" src="/Imagenes/@Equipos.EquiposIndumentaria[Equipo].Camiseta">
    <img class="Pantalon" src="/Imagenes/@Equipos.EquiposIndumentaria[Equipo].Pantalon">
    <img class="Medias" src="/Imagenes/@Equipos.EquiposIndumentaria[Equipo].Medias">
    </td>
    </tr>
    </table>
    <br>
    
}
</h2>

