@{
    ViewData["Title"] = "Home Page";
}
<a href='@Url.Action("SelectIndumentaria")'><input type="button" value="Seleccionar indumentaria"></input></a>
<h1 class="display-4">Welcome</h1>
<h2>@ViewBag.indumentaria</h2>
