@{
    ViewData["Title"] = "Seleccionar indumentaria";
}
<h1>@ViewData["Title"]</h1>

<form action='@Url.Action("GuardarIndumentaria","Home")'>
<table>
    <tr>
    <td>
@foreach (string item in ViewBag.ListaEquipos)
{  
    @item
}
<br>
<input class="Button" type="number" name="Equipo" min="1" max="10" required>
</td>
</tr>
</table>
<br>
    <table>
  <tr>
    <td>
    @foreach (string item in ViewBag.ListaRemeras)
    {
      <img class="Ropa" src="/Imagenes/@item">
    }
<input class="Button" type="number" name="Camiseta" min="1" max="4" required>
</td>
</tr>
</table>
<br>

    <table>
  <tr>
    <td>
      @foreach (string item in ViewBag.ListaPantalones)
    {
      <img class="Ropa" src="/Imagenes/@item">
    }
<input class="Button" type="number" name="Pantalon" min="1" max="4" required>
<br> 
</td>
    </table>
  </tr>
    <table>
  <tr>
    <td>
      @foreach (string item in ViewBag.ListaMedias)
    {
      <img class="Ropa" src="/Imagenes/@item">
    }
    <br>
<input class="Button" type="number" name="Media" min="1" max="3" required>
</td>
    </table>
  </tr>
<br>

<input type="submit" value ="Seleccionar">
<input type="reset" value ="Resetear">
</form>


