@{
    ViewData["Title"] = "Seleccionar indumentaria";
}
<h1>@ViewData["Title"]</h1>

<form action='@Url.Action("GuardarIndumentaria","Home")'>
<table>
    <tr>
    <td>
@foreach (string item in ViewBag.ListaEquipos)
{  
    @item
}
<input type="number" name="Equipo" min="1" max="10" required>
</td>
</tr>
</table>
<br>
    <table>
  <tr>
    <td><img class="Camiseta" src="/Imagenes/CamisetaBlanca.png" alt="Camiseta Blanca">
    <img class="Camiseta" src="/Imagenes/CamisetaAzul.png" alt="Camiseta Azul" >
    <img class="Camiseta" src="/Imagenes/CamisetaRoja.png" alt="Camiseta Roja"  >
    <img class="Camiseta" src="/Imagenes/CamisetaVerde.png" alt="Camiseta Verde" >
<input class="boxNumber" type="number" name="Camiseta" min="1" max="4" required>
</td>
</tr>
</table>
  
<br>
<br>
    <table>
  <tr>
    <td><img class="Pantalon" src="/Imagenes/PantalonNegro.png" alt="Pantalon Negro">
    <img class="Pantalon" src="/Imagenes/PantalonAzul.png" alt="Pantalon Azul">
    <img class="Pantalon" src="/Imagenes/PantalonBlanco.png" alt="Pantalon Blanco">
    <img class="Pantalon" src="/Imagenes/PantalonRojo.png" alt="Pantalon Rojo">
<input type="number" name="Pantalon" min="1" max="4" required>
<br> 
</td>
    </table>
  </tr>
    <table>
  <tr>
    <td><img class="Medias" src="/Imagenes/MediasBlanco.png" alt="Medias Blancas">
    <img class="Medias" src="/Imagenes/MediasAzul.png" alt="Medias Azules">
    <img class="Medias" src="/Imagenes/MediasRojas.png" alt="Medias Rojas">
<input type="number" name="Media" min="1" max="3" required>
</td>
    </table>
  </tr>
<br>

<input type="submit" value ="Seleccionar">
<input type="reset" value ="Resetear">
</form>


