html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
table {
  border-collapse:separate;
  margin: 0 auto;
}

td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgb(114, 106, 106);
  border-radius: 10px; 
  
}
.Camiseta
{
  
  
  margin: 25px;
  width: 20%;
  height: 20%;
  
  
}
.Pantalon
{
  
  margin: 25px;
  width: 20%;
  height: 20%;
}
.Medias
{
  
  margin: 25px;
  width: 20%;
  height: 20%;
}

